@charset "UTF-8";

  body {
        margin: 0;
        width: 100%;
        text-align: center;
        background-color: #f4f4f4;
    }
  .header {
	    background-color: #1ec800;
	    width: 100%;
	    color: white;
	    padding: 16px 20px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    position: relative;
	}
	.header h1 {
	    margin: 0;
	    font-size: 28px;
	    font-weight: bold;
	    color: white;
	}

